update.sh
Python/ezfio.py
Ocaml/ezfio.ml
Bash/ezfio.sh
.ninja_deps
.ninja_log
generated.ninja
lib/libezfio.a
lib/libezfio_irp.a
make.config
src/IRPF90_man/
src/IRPF90_temp/
src/irpf90.make
src/irpf90_entities
src/libezfio_groups-gen.py
src/libezfio_util-gen.py
src/*.pyc
src/run
src/tags
